.app-container {
	height: 100vh;
}

.app-content-wrapper {
	height: calc(100vh - 64px);
}

.app-content-wrapper a {
	text-decoration: none;
}

.navigation-buttons .mat-list-item-content {
	justify-content: center !important;
}

.side-nav {
	border-right: 1px solid #dfdfdf;
	height: calc(100vh - 64px);
}
