<div class="navigation-wrapper">
  <div class="navigation-container">
    <ul>
      <li><a [title]="todo" [routerLink]="['/todos']">Todo</a></li>
      <li><a [title]="customer" [routerLink]="['/customers']">Customers</a></li>
      <li><a [title]="Account" [routerLink]="['/accounts']">Todo</a></li>
    </ul>
  </div>
  <mat-drawer-container>
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container>
</div>
